/* Honesty check: colors are inspired from Google Trips (I also took the background :D )*/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
$google-blue: #1a73e8;
$light-blue: #aecbfa;
$transparent-light-blue: #e8f0fe94;
$lighter-blue: #e8f0fe;
$blue: #265bb6;
$yellow: #ffb900;
$dark-yellow: #ffac06;
$orange: #d95040;
$pink: #f4afb6;
$red: #ba362c;
$white: #fff;
$kindof-black: #343757;
$fa-font-path:"../webfonts";
$main-font: Roboto, HelveticaNeue, Arial, sans-serif;
